.cricket{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;   
  }

  .image-container {
    width: 300px; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }

  .image-container{
    width: 450px; /* Make sure the image fills its container */
    height: 310px; /* Make sure the image fills its container */
    padding: 5px;
    margin: 5px;
    border: solid 5px black;
  }


  .containerall{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
    margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
    .containerall {
        gap: 10px;
    }
    .image-container{
        width: 300px;
        height: 200px;
    }
}


